* {
  outline: none !important;
}

html {
  width: 100%;
  height: 100%;
  background-color: #dadada;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

header {
  padding: 2% 5% 0% 5%;
}

div#container {
  width: 90%;
  height: auto;
  padding: 2% 5% 2% 5%;
  overflow: hidden;
}

div#logo {
  width: 100%;
  height: auto;
  text-align: center;
}

div#logo img {
  height: 150px;
  width: auto;
}

div#logo p {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 1.7rem;
  color: #999;
  font-weight: lighter;
  cursor: default;
}

div.step_section {
  position: relative;
  margin-top: 30px;
}

div.step_section div.step_title_wrapper {
  position: relative;
  display: inline-block;
}

div.step_section div.step_title_wrapper div.step_section_number {
  display: inline-block;
  background: white;
  color: black;
  border-radius: 50%;
  border: 2px solid black;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 17px 0px;
  width: 75px;
  cursor: default;
}

div.step_section div.step_title_wrapper div.step_title {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 10px;
  cursor: default;
}

div.carousel_wrapper {
  width: 96%;
  margin-left: 2%;
}

div.carousel_item {
  position: relative;
  min-height: 293px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px;
  margin: 10px;
  cursor: pointer;
}

div.carousel_item p {
  text-align: center;
  width: 80%;
  padding: 0% 10%;
  font-size: 1.3rem;
  height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  background: #333;
  color: white;
  line-height: 19px;
  margin-top: 0px;
}

div.carousel_item a {
  color: inherit !important;
  text-decoration: none !important;
}

div.carousel_item img {
  margin: auto;
  height: 240px;
  width: auto;
  max-width: 80%;
  margin-bottom: 4px;
}

div.carousel_item.selected {
  outline: 2px solid black !important;
  border-radius: 0px;
}

div.step_section p.copyright_notice {
  margin-top: 45px;
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 40px;
  text-align: right;
  padding-right: 25px;
}

#selections div.step_content_wrapper {
  width: 95%;
  margin-left: 3%;
  margin-top: 10px;
  display: inline-block;
}

#selections div.step_content_wrapper #lo_selection, #selections div.step_content_wrapper #user_selection {
  width: 49%;
  height: auto;
  border: 1px solid black;
  display: inline-block;
  float: left;
}

#selections div.step_content_wrapper #lo_selection {
  margin-right: 1%;
}

#selections div.step_content_wrapper div.header {
  text-align: center;
  width: 80%;
  padding: 10px 10%;
  font-size: 1.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  background: #333;
  color: white;
  line-height: 19px;
  margin-top: 0px;
}

#selections div.step_content_wrapper div.body {
  min-height: 300px;
}

#selections table {
  border: 0px;
  width: 100%;
  height: auto;
  display: none;
}

#selections table th {
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: normal;
}

#selections table th input {
  width: 100%;
}

#selections table th:first-child {
  text-align: left;
}

#selections table th:nth-child(2) {
  text-align: left;
  width: 100%;
}

#selections p.no_selection {
  width: 90%;
  text-align: center;
  display: inline-block;
  padding: 5%;
  font-size: 1.2rem;
  font-weight: normal;
}

#suggestions_carousel {
  display: none;
  min-height: 330px;
  margin-top: 20px;
}

#submit {
  min-height: 35px;
  font-size: 1.4rem;
  padding: 5px;
  margin-left: 88px;
  margin-top: 10px;
}