<div class="profile_section_wrapper">
  <p class="profile_section_title">User Information</p>
  <div class="profile_info_field">
    <span class="profile_info_field_title">Name:</span> <span class="profile_info_field_value"><%=current_user.name%></span>
  </div>
  <div class="profile_info_field">
    <span class="profile_info_field_title">Email:</span> <span class="profile_info_field_value"><%=current_user.email%></span>
  </div>
</div>