<div class="profile_section_wrapper api_keys_section_wrapper">
  <p class="profile_section_title"><%=t("profile.menu.api_keys")%></p>
  <br/>
  <% if @applications.blank? %>
    <%= render "users/akey_request" %>
  <% else %>
    <%= render "users/apps" %>
  <% end %>
</div>