<div id="logo">
  <img alt="EuropeanaRS logo" src="/assets/Europeanars_logo.png"/>
  <p><%=t("home.europeana_rs_description")%></p>
</div>

<p id="logo_search_separator"></p>

<div id="search_input">
  <form accept-charset="UTF-8" action="/search" method="get">
    <input autocomplete="off" class="query" name="query" placeholder="<%=t("dictionary.search")%>" type="text">
    <button type="button" class="search_button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <%=t("dictionary.search")%></button>
  </form>
</div>

<p id="search_suggestions_separator"></p>

<%= render "los/carousel", :los => @suggestions, :loProfiles => true, :title => t("recommendations.suggested_resources") %>

<script>
  $(document).ready(function(){
    $("#search_input .search_button").click(function(event){
      event.preventDefault();
      $("#search_input form").submit();
    });
  });
</script>