<%= link_to(lo,:title => lo.title) do %>
  <div class="lo_box"%>
    <p><%= lo.title %></p>
    <% unless lo.thumbnail_url.nil? %>
      <img title="<%=lo.title%>" src="<%=lo.thumbnail_url%>"/>
    <% end %>
  </div>
<% end %>

