<%= link_to(lo[:url], :title => lo[:title], :target => (lo[:external] ? "_blank" : "_self")) do %>
  <div class="lo_box"%>
    <p><%= lo[:title] %></p>
    <% unless lo[:thumbnail_url].blank? %>
      <img title="<%=lo[:title]%>" src="<%=lo[:thumbnail_url]%>"/>
    <% end %>
    <% if lo[:external] %>
      <div class="external_lo_profile_badge" title="External resource"><img src="/assets/Europeana_icon.png"></div>
    <% end %>
  </div>
<% end %>