#Copy this file to application_config.yml

development:
  secret_token: ""     # Execute 'bundle exec rake secret' to generate a new secret_token and copy it here
  europeana:
    api_key: ""        #Request an API key here: http://labs.europeana.eu/api/introduction
    private_key: ""
    oauth2_client_id: ""
    oauth2_client_key: ""
    oai_pmh_key: ""    #Request an access key for the OAI-PMH service here: http://labs.europeana.eu/api/oai-pmh-access-key
  facebook: #Get Facebook credentials for your app from https://developers.facebook.com/
    app_id: ""
    app_secret: ""
  mail:
    no_reply_mail: "no-reply@europeanars.com"
    main_mail: "no-reply@europeanars.com"
    type: "SMTP" #Type can be "SENDMAIL" or "SMTP" (default)
    # gmail_credentials:
    #   username: ""
    #   password: ""
  # my_europeana: "mimic" #To use a mimic of the MyEuropeana API instead of the real one. This should be used only for development.
  max_preselection_size: 1000  #Maximun number of Learning Objects retrieved by the search engine in the preselection phase of the recommendations. High values could lead to performance issues.
  max_text_length: 60 #Maximun length in characters of the texts that will be taking into account when measuing semantic distances. High values could lead to performance issues.
  weights:
    default_rs:
      los_score: 0.4
      us_score: 0.4
      quality_score: 0.1
      popularity_score: 0.1
    default_los:
      title: 0.2
      description: 0.15
      language: 0.5
      years: 0.15
    default_us:
      language: 0.5
      los: 0.5
    popularity:
      visit_count: 0.5
      like_count: 0.5
  filters:
    default_rs:
      los_score: 0
      us_score: 0
      quality_score: 0
      popularity_score: 0
    default_los:
      title: 0
      description: 0
      language: 0
      years: 0
    default_us:
      language: 0
      los: 0

test:
  secret_token: ""