#Copy this file to application_config.yml

development:
  secret_token: "" # Execute 'bundle exec rake secret' to generate a new secret_token and copy it here
  europeana_SEARCH_API_key: "" #Request an API key here: http://labs.europeana.eu/api/introduction
  europeana_OAI_PMH_Service_key: "" #Request an access key here: http://labs.europeana.eu/api/oai-pmh-access-key

test:
  secret_token: ""