header {
  background-color: #333;
  width: 100%;
  position: static;
  min-height: 45px;
}

header > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
  font-size: 1.5rem;
  font-weight: normal;
  padding-top: 10px;
}

header > ul > li {
  display: inline;
  color: white;
  margin-left: 4em;
}

header ul a {
  color: white !important;
  text-decoration: none !important;
}

header ul a:hover {
}

header li.language {
  float: right;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: -4px;
}

header li.login {
  float: right;
  margin-right: 2%;
  margin-left: 2%;
  font-weight: normal;
  font-size: 1.4rem;
  margin-top: 1px;
  width: auto;
  max-width: 250px;
  max-height: 25px;
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-align: right;
}

header li.login p {
  display: inline-block;
  width: auto;
  max-width: 220px;
  max-height: 25px;
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-align: right;
}

header li.login > a {
  float: right;
  margin-right: 4px;
  margin-left: 4px;
}


header li.login span.logged_as {
  opacity: 0.8;
}

header li.login span.username {
  font-weight: bold;
  opacity: 1;
}

header span#logout {
  margin-left: 5px;
  font-weight: normal;
  opacity: 0.8;
}

header li.login a.registration_new {
  margin-right: 15px;
}

header li.language div.dropdown ul {
  width: 140px;
  left: -75px;
}

header li.language div.dropdown ul li {
  color: black;
  padding: 5px;
  font-size: 1.4rem;
  cursor: pointer;
}

header li.language button {
  padding: 5px 10px;
}

header li.language span.languagetext {
  font-size: 1.4rem;
}

header li.language span.languagetext img, header li.language ul.dropdown-menu li img {
  max-height: 20px;
  margin-right: 5px;
}