p#logo_profile_separator {
  margin: 0px;
  height: 60px;
}

div#profile_wrapper {
  height: 100%;
  overflow: hidden;
}

div#profile_wrapper a {
  text-decoration: none;
  color: inherit;
}

div#profile_wrapper div.column1 {
  float: left;
  width: 25%;
  height: 100%;
  text-align: left;
  background: white;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #c9c9c9;
  box-shadow: 3px 3px 4px #c3c3c3;
}

div#profile_wrapper div.column2 {
  float: left;
  width: 75%;
  height: 90%;
  padding: 0% 5%;
  padding-top: 5px;
  text-align: left;
}

div#profile_wrapper div#profile_title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  cursor: default;
}

div#profile_wrapper div#profile_menu {
}

div#profile_wrapper div#profile_menu ul {
  list-style: none;
  font-size: 1.4rem;
  padding: 0px;
}

div#profile_wrapper div#profile_menu ul li {
  margin-top: 15px;
  margin-bottom: 0px;
  color: black;
  cursor: pointer;
}

div#profile_wrapper div#profile_menu ul li.selected, div#profile_wrapper div#profile_menu ul li:hover {
  color: #2a85e8;
}

div.profile_section_wrapper {
}

div.profile_section_wrapper p.profile_sections_separator {
  margin-top: 40px;
}

div.profile_section_wrapper p.profile_section_title {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 2px solid #333;
  margin-bottom: 5px;
}

div.profile_section_wrapper div.profile_section_actions {
  width: 100%;
  text-align: right;
  margin-bottom: 12px;
}

div.profile_section_wrapper div.profile_section_actions.withoutdescription {
  margin-bottom: 5px;
}

div.profile_section_description {
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-style: italic;
  color: #333;
}

div.profile_section_description.withoutactions {
  margin-top: 15px;
}

div.profile_section_wrapper div.profile_section_actions ul {
  padding: 0px;
  margin-bottom: 0px;
}

div.profile_section_wrapper div.profile_section_actions ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 15px;
  font-size: 1.2rem;
  color: #337ab7;
  cursor: pointer;
}

div.profile_section_wrapper div.profile_info_field {
  font-size: 1.4rem;
}

div.profile_section_wrapper span.profile_info_field_title {
  font-weight: bold;
}

div.profile_section_wrapper span.profile_info_field_value {

}


