<ul>
  <li><a target="_blank" href="http://www.europeana.eu"><%=t("footer.europeana_website")%></a></li>
  <li><a target="_blank" href="http://www.europeana.eu/portal/rights/terms-of-use.html"><%=t("footer.europeana_tou")%></li>
  <li><a target="_blank" href="https://github.com/agordillo/EuropeanaRS"><%=t("footer.europeanars_code")%></a></li>
  <li><a target="_blank" href="https://github.com/agordillo/EuropeanaRS/wiki"><%=t("footer.europeanars_wiki")%></a></li>
</ul>