<ul>
  <li><a target="_blank" href="http://www.europeana.eu">Europeana Website</a></li>
  <li><a target="_blank" href="http://www.europeana.eu/portal/rights/terms-of-use.html">Europeana Terms of Use</li>
  <li><a target="_blank" href="https://github.com/agordillo/EuropeanaRS">EuropeanaRS Source code</a></li>
  <li><a target="_blank" href="https://github.com/agordillo/EuropeanaRS/wiki">Wiki</a></li>
</ul>