<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/search">Explore</a></li>
  <li><a href="/">My Settings</a></li>
  <li><a target="_blank" href="https://github.com/agordillo/EuropeanaRS">About</a></li>
</ul>