<ul>
  <li><a href="/"><%=t("header.home")%></a></li>
  <li><a href="/search"><%=t("header.explore")%></a></li>
  <li><a href="/"><%=t("header.settings")%></a></li>
  <li><a target="_blank" href="https://github.com/agordillo/EuropeanaRS"><%=t("header.about")%></a></li>
</ul>